/* Codelander v1.0 by Codefest */
/* TABLE OF CONTENTS */
/* ------------------
1. General
2. Navbar
3. Header
4. Strategy Section
5. Services Section
6. Pricing Section
7. Clients Section
8. News Section
9. Contact Section
10. Footer
-------------------- */

/* 1. GENERAL */
    * {
        -webkit-font-smoothing: antialiased;
        -moz-os-font-smoothing: grayscale;
        box-sizing: border-box;
    }
    html {
        font-family: sans-serif;
        padding: 0;
        margin: 0;
    }
    body {
        font-family: Poppins;
        padding: 0;
        margin: 0;
        background-color: #FBFBFB;
		background-image: linear-gradient(#FCFCFC, #FBFBFB, #F5F5F5, #F0F0F0);
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        font-size: 1em;
        font-weight: 500;
    }
    .padding-0{
        padding: 0 !important;
    }
    .wrapper{
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0!important;
        overflow: hidden;
    }
    button:focus{
        outline: none !important;
    }
/* 2. NAVBAR */ 
    .header-scrolled{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background-color:#fff !important;
        -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
        box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
    }
    .header-scrolled .navbar-brand img{
        width: 125px;
        height: auto;
    }
    .header-scrolled .nav-link-number {
        display: none;
    }
    .navbar{
        background-color: transparent;
        padding-top: 15px;
        padding-bottom: 15px;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear;
    }
    .navbar-nav{
        align-items: center;
    }
    .navbar-brand{
        display: flex;
        align-items: center;
    }
    .navbar-brand img {
		margin-left: 15px;
        width: 155px;
		height: auto;
    }
    .navbar-brand-menu{
        margin-right: 40px;
    }
    .menu-navbar-nav{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nav-item{
        margin-left: 15px;
        margin-right: 15px;
    }
    .navbar-nav:not(.menu-navbar-nav) .nav-item:last-of-type {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    .nav-item .nav-link{
        text-align: right;
    }
    .nav-item .nav-link:hover .nav-link-number{
        color: #28b0dd !important; 
    }
    .nav-item .nav-link:hover .nav-link-menu{
        color: #28b0dd !important; 
    }
    .nav-link-number{
        font-family: Poppins;
        font-weight: 200!important;
        font-size: 12px;
        color: #CCCCCC;
		letter-spacing: 1.5px;
		line-height: 1;
    }
    .nav-link-menu{
        font-family: Poppins;
        font-weight: 600;
        font-size: 18px;
        color: #000;
        line-height: 1;
    }
    .learn-more-btn{
        background-color: #3A88EC;
        font-size: 18px;
        font-family: Poppins;
        font-weight: 600;
        color: #fff;
        padding: 12px 40px !important;
        border-radius: 100px;
    }
    .learn-more-btn:hover{
        color: #fff;
        background-color: #28b0dd;
    }
	.btn-invert{
        background-color: #28b0dd!important;
    }
    .btn-invert:hover{
        background-color: #3A88EC!important;
    }
    .navbar-toggler-icon{
        background-image: url("../images/menu.png");
    }
	@media screen and (max-width: 991.98px){
	.navbar{
        background-color: #FFFFFF;
        -webkit-box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
        box-shadow: 0 4px 6px 0 rgba(12,0,46,.05);
	}
	.navbar-brand img {
		width: 100px!important;
		padding: 10px 0;
    }
	.header-scrolled{
        height: inherit;
	}
	}
    @media screen and (max-width: 575.98px){
        .navbar{
            padding-top: 0;
            padding-bottom: 0;
        }
        .menu-navbar-nav {
            padding-bottom: 10px;
        }
    }
/* 3. HEADER */
    .header{
        display: flex;
        width: 100%;
        padding: 175px 0 25px 0;
        justify-content: center;
        align-items: center;
    }
    .header-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .header-img-section img{
        width: 100%;
    }
    .header-subtitle{
        font-family: Poppins;
        font-size: 27px;
        font-weight: 400;
        line-height: 1.5;
        padding-bottom: 10px;
    }
    .header-title{
        font-family: Montserrat;
        font-weight: 800;
        font-size: 60px;
        line-height: 1;
        padding-bottom: 25px;
        color: #303669;
    }
    .header-title-text{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        padding-bottom: 15px;
    }
    .learn-more-btn-section{
        display: flex;
        justify-content: left;
        align-items: center;
        margin-top: 20px;
    }
    @media screen and (max-width: 991.98px){
        .header-container{
            flex-direction: column;
        }
        .header-title-section{
            text-align: center;
            margin-top: 40px;
        }
        .navbar-collapse{
            background-color: rgba(255,255,255,1);
            color: #505050;
            padding-bottom: 20px;
            padding-top: 20px;
            margin-bottom: 20px;
        }
        .navbar-collapse .nav-link-menu {
            color: #505050;
        }
        .nav-link-number{
            color: #fff;
            display: none;
        }
        .nav-link-menu{
            color: #fff;
        }
        .learn-more-btn-section{
            justify-content: center;
        }
    }
    @media screen and (max-width: 799.98px){
        .header{
            height: auto;
            padding-top: 20%;
        }
    }
    @media screen and (max-width: 499.98px){
        .header{
            padding-top: 30%;
        }
        .header-subtitle{
            font-size: 24px;
        }
        .header-title{
            font-size: 46px;
        }
        .header-title-text{
            font-size: 18px;
        }
    }
/* 4. STRATEGY SECTION */
    .strategy-section{
        position: relative;
    }
    .strategy-section-bg-graphics-section{
        position: absolute;
        width: 22%;
        right: -5%;
        top: -45%;
    }
    .strategy-section-bg-graphics-section img{
        width: 100%;
    }
    .strategy-container{
        position: relative;
        display: flex;
        padding-top: 25px;
        padding-bottom: 25px;
        flex-wrap: wrap;
    }
    .strategy-card-section{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .strategy-card{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .strategy-card img{
        height: 80px;
    }
    .strategy-card h2{
        color: #303669;
        font-family: Montserrat;
        font-weight: 700;
        font-size: 18px;
        line-height: 3;
    }
    .strategy-card p{
        font-size: 16px;
        line-height: 1.5;
        color: #000;
        font-family: Poppins;
        font-weight: 300;
        max-width: 300px;
    }   
    @media screen and (max-width: 576.98px){
        .strategy-container{
            flex-direction: column;
        }
    }
/* 5. SERVICES SECTION */    
    .services-section{
        position: relative;
    }
    .services-section-bg-graphics{
        position: absolute;
        width: 25%;
        left: -17%;
        top: -20%;
    }
    .services-section-bg-graphics img{
        width: 100%;
    }
    .services-container{
        position: relative;
        display: flex;
        padding-top: 55px;
        padding-bottom: 55px;
        flex-wrap: wrap;
    }
    .services-header-img-section img{
        width: 100%;
    }
    .services-title-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
    .services-subtitle{
        font-family: Poppins;
        font-size: 22px;
        font-weight: 400;
        line-height: 2;
    }
    .services-title{
        font-family: Montserrat;
        font-weight: 800;
        font-size: 45px;
        line-height: 1;
        color: #303669;
        margin-bottom: 20px;
    }
    .services-text{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    .services-accordion .accordion{
        font-size: 18px;
        font-family: Poppins;
        font-weight: 600;
        color: #fff;
        background-color: #3A88EC;
        border-radius: 50px;
        padding: 10px 35px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }
    .services-accordion .accordion::after{
        color: #fff !important;
    }
    .accordion:active, .accordion:hover{
        background-color: #78C2FF !important;
    }
    .services-accordion .panel{
        background-color: transparent !important; 
        /* color: black!important; */
    }   
    .services-accordion .panel p{
        color: #A5A5A5;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.5;  
        color: black;      
    }
    @media screen and (max-width: 991.98px){
		.services-section .services-container{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
		.services-container img{
		margin-bottom: 25px;	
		}
        .services-title-section{
            text-align: center;
        }
    }
/* 6. PRICING SECTION */  
    .pricing-section{
        display: flex;
        padding-top: 55px;
        padding-bottom: 55px;
        flex-wrap: wrap;
        position: relative;
    }
    .pricing-section-left-bg-graphics{
        position: absolute;
        top: -15%;
        right: -10%;
		z-index: -1;
    }
    .pricing-section-left-bg-graphics img{
        width: 100%;
    }
    .pricing-section-right-bg-graphics{
        position: absolute;
        left: -5%;
        bottom: -10%;
    }
    .pricing-section-right-bg-graphics img{
        width: 100%;
    }
    .pricing-container{
	background-color: transparent;
    }
    .pricing-title{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .pricing-title h2{
        font-family: Montserrat;
        font-weight: 800;
        font-size: 45px;
        line-height: 1;
        color: #303669;
        margin-bottom: 20px;
    }
    .pricing-title p{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        max-width: 700px;
    }
    .pricing-plan-cards-section{
        display: flex;
        flex-direction: row;
        padding-top: 25px;
        padding-bottom: 25px;
		justify-content: center;
        align-items: center;
    }
    .pricing-card-section{
        padding: 20px;
    }
    .pricing-card{
        background-color: rgba(255,255,255,1);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 45px 40px 55px 40px;
        border-radius: 50px;
        text-align: center;
    }
    .pricing-card:hover{
        box-shadow: 0 3px 47px rgba(0,0,0,0.15);
        cursor: pointer;
    }
    .pricing-rate{
        color: #303669;
        font-weight: 800;
        font-family: Montserrat;
        font-size: 59px;
        line-height: 1;
    }
	.featured {
		border: 7px dashed #78C2FF;
	}
	.featured .pricing-rate:before {
		content: "Popular";
		display:block;
		width:95px;
		font-size:12px;
		font-weight:600;
		margin:0 auto 15px auto;
		border-radius: 100px;
		text-transform:uppercase;
		color:#FFFFFF;
		background-color:#78C2FF;
		padding: 10px 15px;
	}
    .pricing-period{
        font-size: 18px;
        font-family: Poppins;
        font-weight: 600;
        color: #78C2FF;
    }
    .pricing-text{
        font-size: 18px;
        font-family: Poppins;
        font-weight: 400;
        color: #000;
        margin-top: 20px;
    }
    .pricing-all-plan-features-section{
        text-align: left;
        width: 100%;
        display: flex;
        margin: 15px 0;
    }
    .pricing-all-plan-features-section ul{
        list-style: none;
        padding-left: 20px;
    }
    .pricing-all-plan-features-section li{
        font-size: 14px;
        color: #000;
        font-family: Poppins;
        font-weight: 300;
        line-height: 2;
        background: url(../images/pricing-section-true.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        padding-left: 35px;
        text-align: left;
        margin-top: 5px;
    }
    .basic-plan-features-section li:nth-child(3){
        background: url(../images/pricing-section-false.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        padding-left: 35px;
    }
    .basic-plan-features-section li:nth-child(4){
        background: url(../images/pricing-section-false.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        padding-left: 35px;
    }
    .medium-plan-features-section li:nth-child(4){
        background: url(../images/pricing-section-false.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: 5px 5px;
        padding-left: 35px;
    }
    @media screen and (max-width: 991.98px){
        .pricing-plan-cards-section {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
		.pricing-title p{
        max-width: 428px;
    	}
    }
/* 7. CLIENTS SECTION */
    .clients-section{
        display: flex;
        background-color: transparent;
    }
    .clients-title-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }   
    .clients-subtitle{
        font-family: Poppins;
        font-size: 22px;
        font-weight: 400;
        line-height: 2;
    }
    .clients-title{
        font-family: Montserrat;
        font-weight: 800;
        font-size: 45px;
        line-height: 1;
        color: #303669;
        margin-bottom: 20px;
    }
    .client-logo-section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .client-logo-section img{
        height: 105px;
        width: auto !important;
    }    
    .owl-theme .owl-nav{
        display: none;
    }
    .owl-theme .owl-dots, .owl-theme .owl-nav{
        margin-top: 20px;
    }
    .owl-theme .owl-dots .owl-dot span{
        background-color: #CCCCCC !important;
    }
    .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
        background-color: #3A88EC !important;
    }
/* 8. NEWS SECTION */
    .blog-section{
        display: flex;
        padding-top: 55px;
        padding-bottom: 55px;
        position: relative;
    }
    .blog-section-right-bg{
        position: absolute;
        top: 5%;
        right: 0%;
    }
    .blog-section-left-bg{
        position: absolute;
        bottom: 5%;
        left: 5%;
    }
    .blog-container{
        position: relative;
    }
    .blog-title-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
        text-align: center;
    }   
    .blog-subtitle{
        font-family: Poppins;
        font-size: 22px;
        font-weight: 400;
        line-height: 2;
    }
    .blog-title{
        font-family: Montserrat;
        font-weight: 800;
        font-size: 45px;
        line-height: 1;
        color: #303669;
        margin-bottom: 0;
    }
    .blog-posts-section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .blog-post-card-container{
        padding: 20px;
    }
    .blog-post-card{
        background-color: rgba(255,255,255,1);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 50px;
        padding: 55px 40px;
    }
    .blog-post-card:hover{
        box-shadow: 0 3px 17px rgba(0,0,0,0.15);
        cursor: pointer;
        background-color: #fff;
    }
    .blog-post-icon{
        margin-top: 10px;
        margin-bottom: 25px;
        display: flex;
        justify-content: center;
    }
    .blog-post-icon img{
        width: 100%;
    }
    .blog-post-title{
        font-size: 20px;
        color: #303669;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 2;
    }
	.blog-post-subtitle{
		font-size: 18px;
        color: #CCCCCC;
		font-family: Montserrat;
        line-height: 1;
        margin-bottom: 10px;
    }
    .blog-post-text{
        font-size: 14px;
        color: #000;
        font-family: Poppins;
        font-weight: 300;
        line-height: 1.5;   
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .blog-post-link{
        color: #A4C4F3;
        font-size: 18px;
        font-family: Montserrat;
        font-weight: 700;
        line-height: 1;
		margin-top: 10px;
    }
    .blog-post-link:hover{
        color: #28b0dd;
        text-decoration: none;
    }
    @media screen and (max-width: 991.98px){
        .blog-posts-section{
            flex-direction: column;
        }
    }
/* 9. CONTACT SECTION */
    .contact-section{
        padding-top: 55px;
        padding-bottom: 90px;
    }
    .contact-container{
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }
    .contact-header-img-section{
        padding: 20px;
    }
    .contact-header-img img{
        width: 100%;
    }
    .contact-title-section{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: left;
        width: 100%;
    }
    .contact-subtitle{
        font-family: Poppins;
        font-size: 22px;
        font-weight: 400;
        line-height: 2;
    }
    .contact-title{
        font-family: Montserrat;
        font-weight: 800;
        font-size: 45px;
        line-height: 1;
        color: #303669;
        margin-bottom: 20px;
    }
    .contact-text{
        font-family: Poppins;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    @media screen and (max-width: 991.98px){
        .contact-container{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .contact-title-section{
            text-align: center;
        }
    }
/* 10. FOOTER SECTION */
    .footer-section{
        padding-top: 75px;
        padding-bottom: 55px;
        margin-bottom: 0px!important;
        position: relative;
        background-color: #303669;
        color: #FFFFFF;
    }
    .footer-section a{
        color: #D4E5FF;
    }
    .footer-section-bg-graphics{
        position: absolute;
        right: -10%;
        bottom: 0%;
    }
    .footer-container{
        display: flex;
        position: relative;
    }
    .footer-logo{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        padding-right: 40px;
    }
    .footer-logo img{
        width: 125px;
        margin-bottom: 15px;
    }
    .footer-logo p{
        max-width: 250px;
        font-family: Poppins;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 300;   
    }
    .footer-form{
        padding-right: 0px!important;
    }
    .footer-subsection{
        padding-left: 40px;
        padding-right: 40px;
    }
    .footer-subsection-title{
        font-size: 27px;
        font-family: Poppins;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 2.2;
        margin-bottom: 10px;
    }
    .footer-subsection-text{
        font-family: Montserrat;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400; 
    }
    .footer-subsection-2-1{
        margin-bottom: 20px;
    }
    .footer-subsection-2-2{
        margin-bottom: 20px;
    }
    .footer-subsection-list{
        list-style: none;
        padding-left: 28px;
    }
    .footer-subsection-list li{
        font-size: 16px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-weight: 400;
        line-height: 1.5;
        text-align: left;
        margin-top: 10px;
		display: table-row;
    }
	.footer-subsection-list li:after {
		content: "";
		display:block;
		margin-bottom:10px;
	}
    .footer-subsection-list li:nth-child(1):before{
        font-family: "FontAwesome";
        content: "\f041";
		font-size: 25px;
		line-height: 1.25;
		left:41px;
		position:absolute;
		display: table-cell;
		color:#A4C4F3;
    }
    .footer-subsection-list li:nth-child(2):before{
        font-family: "FontAwesome";
        content: "\f095";
		font-size: 20px;
		line-height: 1.25;
		left:41px;
		position:absolute;
		display: table-cell;
		color:#A4C4F3;
    }
    .footer-subsection-list li:nth-child(3):before{
        font-family: "FontAwesome";
        content: "\f0e0";
		font-size: 17px;
		line-height: 1.25;
		left:41px;
		position:absolute;
		display: table-cell;
		color:#A4C4F3;
    }
    .footer-subsection-list-call{
        color: #FFFFFF;
    }
    .footer-subsection-list-email{
        color: #FFFFFF;
    }
    .footer-subsection-list-call:hover{
        color: #28b0dd;
        text-decoration: none;
    }
    .footer-subsection-list-email:hover{
        color: #28b0dd;
        text-decoration: none;
    }
    .footer-social-media-icons-section{
        display: flex;
    }
    .footer-social-media-icon{
        justify-content: center;
        align-items: center;
        padding-right: 25px;    
    }
    .footer-social-media-icon .fa{
        color: #FFFFFF;
        font-size: 29px;
        text-decoration: none!important;
    }
    .footer-social-media-icon .fa:hover{
        color: #3A88EC;    }
    .footer-credits{
        padding-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .footer-credits p{
        font-size: 16px;
		font-weight: 400;
        color: #D4E5FF;
        font-family: Montserrat;
        line-height: 1;
    }
	.footer-credits a{
		font-weight:700;
	}
    @media screen and (max-width: 991.98px){ 
        .footer-container{
            flex-wrap: wrap;
        }
        .footer-logo {
            padding-left: 40px;
        }
        .footer-form {
            padding-right: 40px!important;
        }
        .footer-subsection-form-input{
        width: 85%;
    }